@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, sunset, dim;
}

:root {
  --background: #111217;
  --foreground: #dddddd;
  --fesk-background: rgb(24, 27, 31);
  --radius-box: 5px;
  --tab-height: 10px;
  background-color: var(--background);
}

@theme {
  --tab-bg: var(--fesk-background);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, Inter, Arial, Helvetica, sans-serif;
}

.tabs-lift {
  &>.tab {
    --radius-start: radial-gradient(circle at top left, #0000 var(--tab-grad), var(--tab-border-color) calc(var(--tab-grad) + 0.25px), var(--tab-border-color) calc(var(--tab-grad) + var(--border)), oklch(0.16 0 0) calc(var(--tab-grad) + var(--border) + 0.25px));
    --radius-end: radial-gradient(circle at top right, #0000 var(--tab-grad), var(--tab-border-color) oklch(26.346% 0.018 262.177) calc(var(--tab-grad) + 0.25px), var(--tab-border-color) calc(var(--tab-grad) + var(--border)), oklch(0.2 0 0) calc(var(--tab-grad) + var(--border) + 0.25px));

    &:is(.tab-active, [aria-selected="true"]):not(.tab-disabled, [disabled]),
    &:is(input:checked, label:has(:checked)) {
      background-color: var(--fesk-background);
    }
  }
}

.tab {
  height: 30px;
}

.tab-content {
  background: var(--tab-bg);
}

.tab-active {
  background: var(--tab-bg);
}